@using QuizApp.Blazor2.Components.Pages
@inherits LayoutComponentBase

@inject NavigationManager Nav
@inject UserService UserService

<Loading IsLoading="@_isLoading"/>

<div class="page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-lg-5 py-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">QuizApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">

                    @if (_isAdmin)
                    {
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/ManageQuiz">Manage Quiz</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/ManageSchedules">Manage Schedules</NavLink>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <NavLink class="nav-link" href="#">Take Quiz</NavLink>
                        </li>
                    }

                    <li class="nav-item" @onclick="LogOut">
                        <NavLink class="nav-link">Log Out</NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="p-lg-5">
        @Body
    </div>

</div>

@code {

    private bool _isLoading = true;
    private bool _isAdmin;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var response = await UserService.GetUserDetails();

            if (!response.IsSuccess)
            {
                Nav.NavigateTo("/Login");
                return;
            }

            var user = response.Data;

            if (user!.Role == "Admin")
            {
                _isAdmin = true;
            }
        }

        _isLoading = false;
        StateHasChanged();
    }

    private async Task LogOut()
    {
        await UserService.LogOut();
        Nav.NavigateTo("/Login");
    }

}