@page "/auth/login"
@using QuizApp.Blazor.Components.Form

<PageTitle>Quiz App - Login Page</PageTitle>

<div class="w-25 container-fluid rounded-3 d-flex flex-column shadow-lg py-lg-5 px-lg-5 gap-4">
    <h2>Login Page</h2>

    <TextInput Label="Initial" Placeholder="Enter your initial" @bind-Value="Initial" />
    <TextInput Label="Password" Placeholder="Enter your password" InputType="password" @bind-Value="Password" />
    
    <button class="btn btn-primary">Login</button>
    
    <a href="/auth/register">Don't have an account? Register here.</a>
</div>

@code {
    private string Initial { get; set; }
    private string Password { get; set; }
    
    // private async Task Login()
    // {
    //     var response = await Http.PostAsJsonAsync("api/auth/login", new { Initial, Password });
    //     if (response.IsSuccessStatusCode)
    //     {
    //         var token = await response.Content.ReadAsStringAsync();
    //         await LocalStorage.SetItemAsync("token", token);
    //         Nav.NavigateTo("/");
    //     }
    // }
}